.acme-navbar-text {
  color: white;
}

.mr-5 {
  margin-right: 5px;
}
.ml-5 {
  margin-left: 5px;
}
.w-100{
  width: 100px;
}
.w-150{
  width: 150px;
}
.w-250{
  width: 250px;
}




.topBar {
  background-color: #ffffff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  font-size: 13px;
}
.topBar ul {
  margin: 0;
}
.topBar ul li {
  line-height: 42px;
}
.topBar a {
  color: #878c94;text-decoration:none;
}
.text-primary {
  color: #0cd4d2;
}

.topBar ul.topBarNav {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.topBar ul.topBarNav li {
  position: relative;
  display: inline-block;
  margin-right: -4px;
  border-right: 1px solid rgba(0, 0, 0, 0.08);
}
.topBar ul.topBarNav li:last-child {
  border-right: none;
}
.topBar ul.topBarNav li a {
  display: block;
  padding-left: 12px;
  padding-right: 12px;
}



.topBar ul.topBarNav li ul {
  background-color: #ffffff;
  position: absolute;
  top: 42px;
  left: auto;
  min-width: 10px;
  right: 4px;
  border-radius: 0px;
  border: solid 0px;
  margin-right: -4px;
  padding: 0;
  list-style-type: none;
  z-index: 9999;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.08);
  -ms-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.08);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.08);
}
.topBar ul.topBarNav li ul li {
  display: block;
  line-height: 30px;
  width: 100%;
  border: none;
}

.topBar ul.topBarNav li a {
  display: block;
  padding-left: 12px;
  padding-right: 12px;
}
.topBar .dropdown-menu > li > a {
  display: block;
  padding: 6px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #878c94;
  font-size:15px;
  white-space: nowrap;
}
.topBar .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  color: #337ab7;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.02);
}


/*CART/////////////////////*/


.cart-items::-webkit-scrollbar {
  width: 6px;
  background-color: #ECECEC;
}
.cart-items::-webkit-scrollbar-track {

}
.cart-items::-webkit-scrollbar-thumb {
  background-color: #084951;
  outline: 1px solid black;
}

.topBar ul.topBarNav li ul.cart .cart-items{
  padding: 10px;
  height: 200px;
  overflow: auto;
}

.topBar ul.topBarNav li ul.cart .cart-items .items {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.topBar ul.topBarNav li ul.cart .cart-items .items li {
  overflow: hidden;
  clear: left;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.topBar ul.topBarNav li ul.cart .cart-items .items li .product-image {
  width: 60px;
  float: left;
}
.topBar ul.topBarNav li ul.cart .cart-items .items li a {
  margin: 0;
  padding: 0;
  line-height: normal;
  background-color: transparent;
  display: inline;
}
.topBar ul.topBarNav li ul.cart .cart-items .items li .product-details {
  position: relative;
  margin-left: 60px;
  padding: 0 15px 0 10px;
}
.topBar ul.topBarNav li ul.cart .cart-items .items li .product-details .close-icon {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 10px;
  line-height: normal;
}
.topBar ul.topBarNav li ul.cart .cart-footer {
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.02);
}
.topBar ul.topBarNav li ul.cart .cart-footer a {
  text-align: center;
  padding: 10px 20px;
  margin: 0;
  background-color: transparent;
}


/*/////////////////////////middleBar//////////////////////*/

.middleBar {
  padding: 10px 0 0 0;
  margin: 0;min-height: 70px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

@media (min-width: 767px){

  .display-table {
    display: table;
    width: 100%;
  }
  .vertical-align {
    display: table-cell;
    vertical-align: middle;
    float: none;
  }
  .grid-space-1 div[class*="col-"] {
    padding: 0 1px;
  }
}

@media (max-width: 767px){

  div[class^="col-"] {
    margin-bottom: 30px;
  }
}

.middleBar .form-control {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  border: 1px solid rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
  -webkit-transition: all 0.1s ease-in;
  -moz-transition: all 0.1s ease-in;
  -ms-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}

.form-control.input-lg {
  font-size: 15px;
}

.middleBar .btn.btn-default {
  color: #ffffff;
  background-color: #337ab7;
  border: 1px solid #337ab7;
  border-radius: 0px;
}
.middleBar .header-items .header-item {
  display: inline-block;
}

.middleBar .header-items .header-item a {
  position: relative;
  display: block;
  border: 1px solid rgba(0, 0, 0, 0.08);
  width: 40px;
  height: 40px;
  line-height: 40px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  border-radius: 100%;
  text-align: center;
  color: #35404f;
}
.middleBar .header-items .header-item a sub {
  position: absolute;
  bottom: -8px;
  right: -8px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  background-color: #337ab7;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  border-radius: 100%;
  color: #ffffff;
  font-size: 9px;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.middleBar .header-items .header-item a:hover {
  background-color: #0cd4d2;
  color: #ffffff;
}

/*/////////////////////////navbar-default///////////////*/

.navbar-default {
  -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  -moz-box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  background-color: #ffffff;
  margin-bottom: 0;
  border: none;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #337ab7;
  background-color: transparent;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:after {
  border-top:solid 2px #337ab7;

}
.navbar-default .dropdown-menu {
  padding: 0;
  font-size: 14px;
  background-color: #ffffff;
  color: #878c94;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.08);
  -ms-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.08);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.08);
  -webkit-transition: all 0.1s ease-in;
  -moz-transition: all 0.1s ease-in;
  -ms-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}




/***********************
     megaDropMenu
////////////////////////////*/


.dropdown-submenu {
  position: relative;
}

.dropdown-submenu>.dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
  display: block;
}

.dropdown-submenu>a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
  border-left-color: #fff;
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}


/*********** Badger ************/
.badge {
  padding: 1px 9px 2px;
  font-size: 12.025px;
  font-weight: bold;
  white-space: nowrap;
  color: #ffffff;
  background-color: #999999;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}
.badge:hover {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}
.badge-error {
  background-color: #d9534f;
}
.badge-error:hover {
  background-color: #d9534f;
}

.badge-success {
  background-color: #468847;
}
.badge-success:hover {
  background-color: #356635;
}


