<div class="middleBar">
  <div class="container">
    <div class="row display-table">
      <div class="col-sm-3 vertical-align text-left hidden-xs">
        <a ui-sref="home" "> <img width="250px" src="assets/images/logo.JPG" alt=""></a>
      </div>
      <!-- end col -->
      <div class="col-sm-7 vertical-align text-center">
        <form>
          <div class="row grid-space-1">
            <div class="col-sm-6">
              <input type="text" name="keyword" class="form-control input-lg" placeholder="Search" ng-model="vm.dataMainService.palabra">
            </div>
            <!-- end col -->

            <div class="col-sm-3">
              <div class="btn-group">
                <a id="dLabel" role="button" data-toggle="dropdown" class="btn btn-default btn-lg" data-target="#" href="#">
                  {{vm.dataMainService.categoriaSelected.name}} <span class="caret"></span>
                </a>
                <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                  <li><a href="#" ng-click="vm.setCategoria(null)">All Categories</a></li>
                  <li ng-class="{'dropdown-submenu' : item.sublevels.length > 0}" ng-repeat="item in vm.dataMainService.categorias">
                    <a href="#" ng-click="vm.setCategoria(item)">{{item.name}}</a>
                    <ul class="dropdown-menu" ng-if="item.sublevels.length > 0">
                      <li ng-class="{'dropdown-submenu' : sublevel1.sublevels.length > 0}" ng-repeat="sublevel1 in item.sublevels">
                        <a href="#" ng-click="vm.setCategoria(sublevel1)">{{sublevel1.name}}</a>
                        <ul class="dropdown-menu" ng-if="sublevel1.sublevels.length > 0">
                          <li ng-class="{'dropdown-submenu' : sublevel2.sublevels.length > 0}" ng-repeat="sublevel2 in sublevel1.sublevels">
                            <a href="#" ng-click="vm.setCategoria(sublevel2)">{{sublevel2.name}}</a>
                            <ul class="dropdown-menu" ng-if="sublevel2.sublevels.length > 0">
                              <li ng-class="{'dropdown-submenu' : sublevel3.sublevels.length > 0}" ng-repeat="sublevel3 in sublevel2.sublevels">
                                <a href="#" ng-click="vm.setCategoria(sublevel3)">{{sublevel3.name}}</a>
                              </li>
                            </ul>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>

            <!-- end col -->
            <div class="col-sm-3">
              <input type="submit" class="btn btn-default btn-block btn-lg" value="Search" ng-click="vm.dataMainService.buscar(vm.dataMainService.palabra)">
            </div>
            <!-- end col -->
          </div>
          <!-- end row -->
        </form>
      </div>
      <!-- end col -->
      <div class="col-sm-2 vertical-align">
          <a class = "pull-right" ui-sref="car">
            <img src="assets/images/car.png"><span ng-class="{ 'badge badge-error': vm.dataMainService.count() === 0, 'badge badge-success': vm.dataMainService.count() > 0 }" >{{vm.dataMainService.count()}}</span>
          </a>
      </div>
      <!-- end col -->
    </div>
    <!-- end  row -->
  </div>


</div>
