.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 220px;
}

.thumbnail img.pull-right {
  width: 50px;
}


/********* titulo Area filtro **********/

.filter-titulo{
  color: #006EF3;
  font-size: 30px;
}


/********** Mensaje busqueda sin resultados ************/
.ml-main {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 10px;
}

.zrp-box {
  max-width: 1018px;
  min-height: 204px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-color: #fff;
  margin: 48px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: auto;
  padding: 40px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.search-icon {
  display: inline-block;
  vertical-align: middle;
  margin-right: 35px;
}

.info {
  display: inline-block;
  vertical-align: middle;
}

.header__title {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.08;
}

.links__list {
  list-style-type: disc;
  padding-left: 18px;
  margin-top: 16px;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.38;
}



/*************** Lista Car ********************/

.glyphicon { margin-right:5px; }

.thum.thumbnail
{
  margin-bottom: 20px;
  padding: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

.item.list-group-item
{
  float: none;
  background-color: #fff;
  margin-bottom: 10px;

}
.item.list-group-item:nth-of-type(odd):hover,.item.list-group-item:hover
{
  background: #428bca;
}

.item.list-group-item .list-group-image
{
  margin-right: 10px;
}
.item.list-group-item .thumbnail
{
  margin-bottom: 0px;
  height: 160px;
}
.item.list-group-item .caption
{
  padding: 9px 9px 0px 9px;
}
.item.list-group-item:nth-of-type(odd)
{
  background: #eeeeee;
}

.item.list-group-item:before, .item.list-group-item:after
{
  display: table;
  content: " ";
}

.item.list-group-item img
{
  float: left;
  height: 160px;
}
.item.list-group-item:after
{
  clear: both;
}
.list-group-item-text
{
  margin: 0 0 11px;
}


.input-custom{
  width: 6em;
}

label.label {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 10px;
  vertical-align: middle;
  margin-right: 5px;
  margin-left: 10px;
  display: inline;
}


