<div class="tags">
  <div class = "container-tag" ng-repeat="(idx, tag) in tags">
    <span class="tag ng-binding ng-scope">{{tag.valor1}} <a class="remove-button" ng-click="remove(idx)" href="#">x</a></span>
  </div>
</div>
