/***** Tags ******/

.tags {
  width: auto;
  margin: 10px 0;
}
.tags .tag {
  border-radius: 2px;
  background-color: #EFEFEF;
  border: 1px solid #DDD;
  padding: 5px;
}
.tags .remove-button:hover {
  color: red;
  text-decoration: none;
}

.remove-button {
  margin: 0 0 0 5px;
  padding: 0;
  border: none;
  background: 0 0;
  cursor: pointer;
  vertical-align: middle;
  font: 700 16px Arial,sans-serif;
  color: #585858;
}

.container-tag{
  margin-bottom: 15px;
}

input {
  margin-bottom: 0px !important;
}
