<div class="row">
  <div class="col-md-3">

    <div class = "filter-titulo">
      <span class= "glyphicon glyphicon-filter"></span>
      Filter here
    </div>
    <tag-manager tags="vm.dataMainService.filtros"></tag-manager>

    <div class="panel-group" id="accordion">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><span class="glyphicon glyphicon-plus"></span> Availability</a>
          </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse">
          <div class="panel-body">
            <label>Select:</label>
            <select class="form-control" ng-model="vm.availability" ng-change="vm.addFiltro(1, vm.availability)">
              <option ng-repeat="item in vm.dataMainService.parametros.availability" value = {{item.id}}>{{item.name}}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><span class="glyphicon glyphicon-plus"></span> Stock</a>
          </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse in">
          <div class="panel-body">
            <div class="form-group">
              <label>Min:</label>
              <input type="number" ng-model = "vm.stock" class="form-control" placeholder="Minimum amount" id="cantidad_min">
            </div>
            <div class = "form-group">
              <button type="button" class="btn btn-primary btn-xs" ng-click="vm.addFiltro(3, vm.stock)">OK</button>
            </div>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree"><span class="glyphicon glyphicon-plus"></span> Price</a>
          </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse">
          <div class="panel-body">
            <div class="row">
                            <div class="col-md-6 form-group">
                <label for="min">Min:</label>
                <input type="number" class="form-control" id="min" ng-model = "vm.pmin">
              </div>
              <div class="col-md-6 form-group">
                <label for="max">Máx:</label>
                <input type="number" class="form-control" id="max" ng-model = "vm.pmax">
              </div>
            </div>
            <div class = "form-group">
              <button type="button" class="btn btn-primary btn-xs" ng-click="vm.addFiltro(2, {'min':vm.pmin, 'max':vm.pmax})">OK</button>
            </div>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour"><span class="glyphicon glyphicon-plus"></span> Sort by</a>
          </h4>
        </div>
        <div id="collapseFour" class="panel-collapse collapse">
          <div class="panel-body">
            <label>Select:</label>
            <select class="form-control" ng-model="vm.orden" ng-change="vm.addFiltro(4, vm.orden)">
              <option ng-repeat="item in vm.dataMainService.parametros.order" value={{item.id}}>{{item.name}}</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-9">
    <div class="col-sm-4 col-lg-4 col-md-4" ng-show="vm.dataMainService.productosFiltrados.length > 0" ng-repeat="producto in vm.dataMainService.productosFiltrados">
      <div class="thumbnail" ng-init="producto.name">
        <a ui-sref="#"><img ng-src="assets/images/angular.png" alt=""></a>
        <div class="caption">
          <label class="pull-right">Price: $ {{producto.price}}</label>
          <label><a ui-sref="#">{{producto.name | uppercase}}</a></label>
        </div>
        <div class="caption">
          <label class="pull-right">Stock: {{producto.quantity}}</label>
        </div>
        <div class="caption-btn">
          <button ng-if="!vm.dataMainService.hasInCart(producto.id)" class="btn btn-primary btn-block btn-sm" ng-click="vm.dataMainService.addToCart(producto)"><i class="fa fa-cart-plus"></i> Add to Cart</button>
          <button ng-show="vm.dataMainService.hasInCart(producto.id) && !showRemove"
                  ng-mouseenter="showRemove = true"
                  class="btn btn-success btn-block btn-sm"><i class="fa fa-check-circle"></i> Added</button>
          <button ng-show="vm.dataMainService.hasInCart(producto.id) && showRemove"
                  ng-mouseleave="showRemove = false"
                  class="btn btn-danger btn-block btn-sm" ng-click="vm.dataMainService.removeFromCart(producto.id)"><i class="fa fa-remove"></i> Remove</button>
        </div>
      </div>
    </div>
    <div class = "ml-main" ng-show="vm.dataMainService.productosFiltrados.length === 0">
      <div class = "zrp-box">
        <div class = "search-icon">
          <svg class="svg-zrp-search" width="80" height="80" viewBox="0 0 80 80" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M37.891 50.705c4.584-1.85 8.61-5.256 11.216-9.957m2.764-9.071c.456-5.499-1.142-10.977-4.48-15.29a21.276 21.276 0 0 0-6.53-5.599c-5.845-3.24-12.566-3.444-18.403-1.139-4.65 1.836-8.739 5.265-11.375 10.022a22.488 22.488 0 0 0-2.832 10.308 22.102 22.102 0 0 0 3.058 11.86 21.288 21.288 0 0 0 8.02 7.79 21.275 21.275 0 0 0 8.427 2.594 21.853 21.853 0 0 0 10.135-1.518" stroke="#484848" stroke-linecap="round"></path><path d="M28.774 45.86a16.046 16.046 0 0 1-9.688-4.642m-3.693-5.7c-1.4-3.695-1.38-7.782.065-11.41a15.238 15.238 0 0 1 3.392-5.144c3.384-3.384 7.97-4.852 12.444-4.417 3.564.346 7.056 1.9 9.81 4.654 1.9 1.9 3.23 4.153 3.984 6.538a15.83 15.83 0 0 1 .236 8.768 15.246 15.246 0 0 1-3.984 6.947 15.237 15.237 0 0 1-5.289 3.449 15.651 15.651 0 0 1-7.277.956" stroke="#484848" stroke-linecap="round"></path><g fill="#484848"><path d="M35.644 35.95l-12-12 .572-.572 12 12z"></path><path d="M36.215 23.95l-12 12-.57-.572 11.999-12z"></path></g><path d="M52.267 52.61l-6.646-6.647" stroke="#484848" stroke-linecap="square"></path><path d="M61.601 54.585l-2.823-2.824c-1.405-1.405-3.988-1.099-5.768.682-1.78 1.78-2.087 4.363-.682 5.768l9.599 9.599 8.89 8.89c1.403 1.404 3.987 1.098 5.767-.682 1.78-1.78 2.086-4.364.683-5.768" fill="#FFDB15"></path><path d="M52.095 58.273c-1.404-1.405-1.283-3.803.27-5.356s3.951-1.674 5.356-.27l9.6 9.6 8.89 8.89" stroke="#484848" stroke-linecap="round"></path></g></svg>
        </div>
        <div class="info">
          <h3 class="header__title">No hay publicaciones que coincidan con tu búsqueda.</h3>
          <ul class="links__list">
            <li>Revisa la ortografía de la palabra.</li>
            <li>Utiliza palabras más genéricas o menos palabras.</li>
            <li>Navega por las categorías de productos para encontrar un producto similar</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

