<div>
  <div class = "row">
      <div id="products" class="row list-group">
        <div class="item list-group-item col-xs-8 col-lg-8" ng-repeat="producto in vm.carService.productos">
          <div class = "thum thumbnail">
            <div class = "row">
              <div class = "col-md-4">
                <img src="http://placehold.it/400x250/000/fff" alt=""></img>
              </div>
              <div class = "col-md-8">
                <div class="caption">
                  <h2 class="group inner list-group-item-heading">{{producto.name | uppercase}}</h2>
                  <br>
                  <div class="block">
                    <label>Precio: </label>
                    <label>${{producto.price}}</label>
                  </div>

                  <div class="block">
                    <label>Cantidad:</label>
                    <input class = "input-custom" type="number" ng-model="producto.cantidad"></input>
                  </div>
                  <div class="block">
                    <button class="btn btn-danger pull-right" ng-click="vm.borrar($index)">Delete</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
